In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from shapely import wkt

In [13]:
beach = pd.read_csv("ASBPA.csv")  
beach = beach.drop('Sand Source Location', axis=1)
beach = beach.drop('Sand Source Type', axis=1)
beach = beach.drop('Project Type', axis=1)
beach = beach.drop('RSM', axis=1)

In [14]:
beach

,State,Project Name,Year,Length (ft),Volume (cy),Sand Source Name,Latitude,Longitude
0,AK,Ninilchik,2010,NaN,12296.0,NaN,60.018889,-151.587500
1,AK,Nome Harbor,2010,NaN,25965.0,NaN,64.497778,-165.431389
2,AK,Nome Harbor,2011,NaN,34109.0,NaN,64.497778,-165.431389
3,AK,Nome Harbor,2013,NaN,20570.0,NaN,64.497778,-165.431389
4,AK,Nome Harbor,2014,NaN,54283.0,NaN,64.497778,-165.431389
...,...,...,...,...,...,...,...,...
3624,WI,"SHEBOYGAN HARBOR, WI",1991,NaN,46577.0,"SHEBOYGAN HARBOR, WI",43.750000,-87.704167
3625,WI,"TWO RIVERS HARBOR, WI",1997,NaN,49035.0,"TWO RIVERS HARBOR, WI",44.141667,-87.587500
3626,WI,"TWO RIVERS HARBOR, WI",2000,NaN,41072.0,"TWO RIVERS HARBOR, WI",44.141667,-87.587500
3627,WI,"TWO RIVERS HARBOR, WI",2005,NaN,43189.0,"TWO RIVERS HARBOR, WI",44.141667,-87.587500
3628,WI,"TWO RIVERS HARBOR, WI",2009,NaN,89750.0,"TWO RIVERS HARBOR, WI",44.141667,-87.587500

In [ ]:
print(beach['State'].where(df['Rating_Score'] < 50))