In [54]:
import pandas as pd
import numpy as nmp
import requests
import os
import json
from io import StringIO

In [2]:
noaa_api = os.getenv('noaa_api')

In [4]:
coastal_api = os.getenv('coastal_api')

In [21]:
r = requests.get('http://httpbin.org/user-agent')
useragent = json.loads(r.text)['user-agent']

In [5]:
ocmd = pd.read_csv('OCMD_beachrenourishment.csv')
ocmd['station_id'] = '8570283'

## National Bouy Data Center

station ids: https://www.ndbc.noaa.gov/to_station.shtml

In [46]:
dbdc_url = 'https://www.ndbc.noaa.gov/data/realtime2/{id}.txt'

In [48]:
station_ids = [
    'AAMC1', 'ACYN4', 'ADKA2', 'AGCM4', 'ALIA2', 'ALXN6', 'AMRL1', 'ANTA2', 'ANVC1', 'APAM2',
    'APCF1', 'APRP7', 'ASTO3', 'ATGM1', 'ATKA2', 'BARA9', 'BATN6', 'BEPB6', 'BFTN7', 'BHBM3',
    'BISM2', 'BKTL1', 'BLTM2', 'BRHC3', 'BUFN6', 'BYGL1', 'BZBM3', 'CAMM2', 'CAPL1', 'CARL1',
    'CASM1', 'CBBV2', 'CCUF1', 'CECC1', 'CFWM1', 'CHAO3', 'CHAV3', 'CHBV2', 'CHSV3', 'CHTM3',
    'CHTS1', 'CHYW1', 'CKYF1', 'CLBP4', 'CMAN4', 'CMTI2', 'CNDO1', 'CRVA2', 'CTGM1', 'CWBF1',
    'DILA1', 'DKCM6', 'DTLM4', 'DUKN7', 'DULM5', 'EBSW1', 'ELFA2', 'EREP1', 'ERTF1', 'ESPP4',
    'FAIO1', 'FCGT2', 'FMRF1', 'FOXR1', 'FPKG1', 'FPST2', 'FPTT2', 'FRCB6', 'FRDF1', 'FRDW1',
    'FREL1', 'FRPS1', 'FRWL1', 'FTGM4', 'FTPC1', 'GBWW3', 'GCVF1', 'GDMM5', 'GISL1', 'GNJT2',
    'GPOM6', 'GPST2', 'GTOT2', 'GWPM6', 'HBYC1', 'HCGN7', 'HLNM4', 'HMDO3', 'HRBM4', 'HRVC1',
    'ICAC1', 'IIWC1', 'ILOH1', 'ITKA2', 'JMPN7', 'JNEA2', 'JXUF1', 'KDAA2', 'KECA2', 'KGCA2',
    'KLIH1', 'KPTN6', 'KPTV2', 'KWHH1', 'KWJP8', 'KWNW3', 'KYWF1', 'LABL1', 'LAMV3', 'LAPW1',
    'LCLL1', 'LDTM4', 'LJAC1', 'LKWF1', 'LOPW1', 'LPNM4', 'LTBV3', 'LTRM4', 'LWSD1', 'LWTV2',
    'MACM4', 'MBET2', 'MBRM4', 'MCGM4', 'MCYF1', 'MEYC1', 'MGIP4', 'MGZP4', 'MISP4', 'MNMM4',
    'MOKH1', 'MQTT2', 'MRHO1', 'MROS1', 'MTKN6', 'MTYC1', 'MYPF1', 'NCDV2', 'NEAW1', 'NIAN6',
    'NJLC1', 'NKTA2', 'NLHC3', 'NLNC3', 'NMTA2', 'NPSF1', 'NSTP6', 'NTBC1', 'NTKM3', 'NUET2',
    'NWCL1', 'NWPR1', 'NWWH1', 'OBGN6', 'OBLA1', 'OCIM2', 'OHBC1', 'OLSA2', 'OOUH1', 'ORIN7',
    'OSGN6', 'OVIA2', 'PACF1', 'PBWM4', 'PCBF1', 'PCLF1', 'PCOC1', 'PGBP7', 'PHBP1', 'PLXA2',
    'PMOA2', 'PNLM4', 'PNLM6', 'PORO3', 'PRDA2', 'PRYC1', 'PSBM1', 'PSLC1', 'PSTL1', 'PSTN6',
    'PTAW1', 'PTIM4', 'PTIT2', 'PTWW1', 'RARM6', 'RCKM4', 'RCPT2', 'RCRN6', 'RCYF1', 'RDDA2',
    'RDYD1', 'SAPF1', 'SBEO3', 'SBLF1', 'SBPT2', 'SCIS1', 'SDBC1', 'SDHN4', 'SHBL1', 'SJNP4',
    'SKTA2', 'SLIM2', 'SMOC1', 'SNDA2', 'SNDP5', 'SWLA2', 'SWPV2', 'TESL1', 'THRO1', 'TLBO3',
    'TOKW1', 'TPBN4', 'TRDF1', 'TXPT2', 'ULAM6', 'ULRA2', 'UNLA2', 'VAKF1', 'VCAF1', 'VCVA2',
    'VDZA2', 'WAHV2', 'WAKP8', 'WASD2', 'WAVM6', 'WLON7', 'WNDV2', 'WNEM4', 'WPTW1', 'WYCM6',
    'YATA2', 'YKTV2'
]

In [53]:
dbdc_df = pd.DataFrame()
for station_id in station_ids:
    formatted_url = dbdc_url.format(id=station_id)
    r = requests.get(formatted_url)
    if r.status_code == 200:
        df = pd.read_csv(formatted_url, delim_whitespace = True, header = None)
        df.drop(df.index[0], inplace = True)
        df['Station'] = station_id
        dbdc_df = pd.concat([dbdc_df, df], ignore_index = True)
        print(f"Sucessfully retrieved data for {station_id}")
    else: 
        print(f"Failed to retrieve data for {station_id}: {r.status_code}")

Sucessfully retrieved data for AAMC1
Sucessfully retrieved data for ACYN4
Sucessfully retrieved data for ADKA2
Sucessfully retrieved data for AGCM4
Sucessfully retrieved data for ALIA2
Sucessfully retrieved data for ALXN6
Sucessfully retrieved data for AMRL1
Sucessfully retrieved data for ANTA2
Sucessfully retrieved data for ANVC1
Sucessfully retrieved data for APAM2
Sucessfully retrieved data for APCF1
Sucessfully retrieved data for APRP7
Sucessfully retrieved data for ASTO3
Sucessfully retrieved data for ATGM1
Sucessfully retrieved data for ATKA2
Failed to retrieve data for BARA9: 404
Sucessfully retrieved data for BATN6
Failed to retrieve data for BEPB6: 404
Sucessfully retrieved data for BFTN7
Sucessfully retrieved data for BHBM3
Sucessfully retrieved data for BISM2
Sucessfully retrieved data for BKTL1
Sucessfully retrieved data for BLTM2
Sucessfully retrieved data for BRHC3
Sucessfully retrieved data for BUFN6
Sucessfully retrieved data for BYGL1
Sucessfully retrieved data for BZBM3
Sucessfully retrieved data for CAMM2
Sucessfully retrieved data for CAPL1
Sucessfully retrieved data for CARL1
Sucessfully retrieved data for CASM1
Failed to retrieve data for CBBV2: 404
Failed to retrieve data for CCUF1: 404
Sucessfully retrieved data for CECC1
Sucessfully retrieved data for CFWM1
Sucessfully retrieved data for CHAO3
Sucessfully retrieved data for CHAV3
Sucessfully retrieved data for CHBV2
Sucessfully retrieved data for CHSV3
Sucessfully retrieved data for CHTM3
Sucessfully retrieved data for CHTS1
Sucessfully retrieved data for CHYW1
Sucessfully retrieved data for CKYF1
Sucessfully retrieved data for CLBP4
Sucessfully retrieved data for CMAN4
Sucessfully retrieved data for CMTI2
Sucessfully retrieved data for CNDO1
Sucessfully retrieved data for CRVA2
Failed to retrieve data for CTGM1: 404
Sucessfully retrieved data for CWBF1
Sucessfully retrieved data for DILA1
Failed to retrieve data for DKCM6: 404
Sucessfully retrieved data for DTLM4
Sucessfully retrieved data for DUKN7
Sucessfully retrieved data for DULM5
Failed to retrieve data for EBSW1: 404
Sucessfully retrieved data for ELFA2
Sucessfully retrieved data for EREP1
Failed to retrieve data for ERTF1: 404
Sucessfully retrieved data for ESPP4
Sucessfully retrieved data for FAIO1
Failed to retrieve data for FCGT2: 404
Sucessfully retrieved data for FMRF1
Sucessfully retrieved data for FOXR1
Sucessfully retrieved data for FPKG1
Sucessfully retrieved data for FPST2
Failed to retrieve data for FPTT2: 404
Sucessfully retrieved data for FRCB6
Sucessfully retrieved data for FRDF1
Sucessfully retrieved data for FRDW1
Failed to retrieve data for FREL1: 404
Failed to retrieve data for FRPS1: 404
Sucessfully retrieved data for FRWL1
Sucessfully retrieved data for FTGM4
Sucessfully retrieved data for FTPC1
Sucessfully retrieved data for GBWW3
Failed to retrieve data for GCVF1: 404
Sucessfully retrieved data for GDMM5
Sucessfully retrieved data for GISL1
Sucessfully retrieved data for GNJT2
Failed to retrieve data for GPOM6: 404
Failed to retrieve data for GPST2: 404
Sucessfully retrieved data for GTOT2
Failed to retrieve data for GWPM6: 404
Sucessfully retrieved data for HBYC1
Sucessfully retrieved data for HCGN7
Sucessfully retrieved data for HLNM4
Failed to retrieve data for HMDO3: 404
Sucessfully retrieved data for HRBM4
Failed to retrieve data for HRVC1: 404
Sucessfully retrieved data for ICAC1
Failed to retrieve data for IIWC1: 404
Sucessfully retrieved data for ILOH1
Sucessfully retrieved data for ITKA2
Sucessfully retrieved data for JMPN7
Sucessfully retrieved data for JNEA2
Sucessfully retrieved data for JXUF1
Sucessfully retrieved data for KDAA2
Sucessfully retrieved data for KECA2
Sucessfully retrieved data for KGCA2
Sucessfully retrieved data for KLIH1
Sucessfully retrieved data for KPTN6
Sucessfully retrieved data for KPTV2
Sucessfully retrieved data for KWHH1
Sucessfully retrieved data for KWJP8
Sucessfully retrieved data for KWNW3
Sucessfully retrieved data for KYWF1
Failed to retrieve data for LABL1: 404
Sucessfully retrieved data for LAMV3
Sucessfully retrieved data for LAPW1
Sucessfully retrieved data for LCLL1
Sucessfully retrieved data for LDTM4
Sucessfully retrieved data for LJAC1
Sucessfully retrieved data for LKWF1
Sucessfully retrieved data for LOPW1
Sucessfully retrieved data for LPNM4
Sucessfully retrieved data for LTBV3
Sucessfully retrieved data for LTRM4
Sucessfully retrieved data for LWSD1
Sucessfully retrieved data for LWTV2
Sucessfully retrieved data for MACM4
Sucessfully retrieved data for MBET2
Sucessfully retrieved data for MBRM4
Sucessfully retrieved data for MCGM4
Failed to retrieve data for MCYF1: 404
Sucessfully retrieved data for MEYC1
Sucessfully retrieved data for MGIP4
Sucessfully retrieved data for MGZP4
Sucessfully retrieved data for MISP4
Sucessfully retrieved data for MNMM4
Sucessfully retrieved data for MOKH1
Failed to retrieve data for MQTT2: 404
Sucessfully retrieved data for MRHO1
Sucessfully retrieved data for MROS1
Sucessfully retrieved data for MTKN6
Failed to retrieve data for MTYC1: 404
Sucessfully retrieved data for MYPF1
Sucessfully retrieved data for NCDV2
Sucessfully retrieved data for NEAW1
Sucessfully retrieved data for NIAN6
Sucessfully retrieved data for NJLC1
Sucessfully retrieved data for NKTA2
Sucessfully retrieved data for NLHC3
Failed to retrieve data for NLNC3: 404
Sucessfully retrieved data for NMTA2
Failed to retrieve data for NPSF1: 404
Sucessfully retrieved data for NSTP6
Sucessfully retrieved data for NTBC1
Sucessfully retrieved data for NTKM3
Sucessfully retrieved data for NUET2
Sucessfully retrieved data for NWCL1
Sucessfully retrieved data for NWPR1
Sucessfully retrieved data for NWWH1
Sucessfully retrieved data for OBGN6
Sucessfully retrieved data for OBLA1
Sucessfully retrieved data for OCIM2
Failed to retrieve data for OHBC1: 404
Sucessfully retrieved data for OLSA2
Sucessfully retrieved data for OOUH1
Sucessfully retrieved data for ORIN7
Sucessfully retrieved data for OSGN6
Sucessfully retrieved data for OVIA2
Sucessfully retrieved data for PACF1
Sucessfully retrieved data for PBWM4
Sucessfully retrieved data for PCBF1
Sucessfully retrieved data for PCLF1
Sucessfully retrieved data for PCOC1
Sucessfully retrieved data for PGBP7
Sucessfully retrieved data for PHBP1
Sucessfully retrieved data for PLXA2
Failed to retrieve data for PMOA2: 404
Sucessfully retrieved data for PNLM4
Sucessfully retrieved data for PNLM6
Sucessfully retrieved data for PORO3
Sucessfully retrieved data for PRDA2
Sucessfully retrieved data for PRYC1
Sucessfully retrieved data for PSBM1
Sucessfully retrieved data for PSLC1
Sucessfully retrieved data for PSTL1
Sucessfully retrieved data for PSTN6
Sucessfully retrieved data for PTAW1
Sucessfully retrieved data for PTIM4
Sucessfully retrieved data for PTIT2
Sucessfully retrieved data for PTWW1
Failed to retrieve data for RARM6: 404
Sucessfully retrieved data for RCKM4
Sucessfully retrieved data for RCPT2
Sucessfully retrieved data for RCRN6
Failed to retrieve data for RCYF1: 404
Sucessfully retrieved data for RDDA2
Sucessfully retrieved data for RDYD1
Sucessfully retrieved data for SAPF1
Failed to retrieve data for SBEO3: 404
Failed to retrieve data for SBLF1: 404
Failed to retrieve data for SBPT2: 404
Failed to retrieve data for SCIS1: 404
Sucessfully retrieved data for SDBC1
Sucessfully retrieved data for SDHN4
Sucessfully retrieved data for SHBL1
Sucessfully retrieved data for SJNP4
Sucessfully retrieved data for SKTA2
Sucessfully retrieved data for SLIM2
Failed to retrieve data for SMOC1: 404
Sucessfully retrieved data for SNDA2
Sucessfully retrieved data for SNDP5
Sucessfully retrieved data for SWLA2
Sucessfully retrieved data for SWPV2
Sucessfully retrieved data for TESL1
Sucessfully retrieved data for THRO1
Sucessfully retrieved data for TLBO3
Sucessfully retrieved data for TOKW1
Failed to retrieve data for TPBN4: 404
Sucessfully retrieved data for TRDF1
Sucessfully retrieved data for TXPT2
Failed to retrieve data for ULAM6: 404
Sucessfully retrieved data for ULRA2
Sucessfully retrieved data for UNLA2
Sucessfully retrieved data for VAKF1
Sucessfully retrieved data for VCAF1
Sucessfully retrieved data for VCVA2
Sucessfully retrieved data for VDZA2
Sucessfully retrieved data for WAHV2
Sucessfully retrieved data for WAKP8
Sucessfully retrieved data for WASD2
Failed to retrieve data for WAVM6: 404
Sucessfully retrieved data for WLON7
Failed to retrieve data for WNDV2: 404
Sucessfully retrieved data for WNEM4
Sucessfully retrieved data for WPTW1
Sucessfully retrieved data for WYCM6
Sucessfully retrieved data for YATA2
Sucessfully retrieved data for YKTV2

In [61]:
dbdc_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,Station
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,nmi,hPa,ft,AAMC1
1,2023,11,15,23,00,320,1.5,3.1,MM,MM,MM,MM,1006.9,18.0,MM,MM,MM,-1.5,MM,AAMC1
2,2023,11,15,22,54,300,2.1,3.6,MM,MM,MM,MM,1006.8,17.9,MM,MM,MM,MM,MM,AAMC1
3,2023,11,15,22,48,290,1.5,3.1,MM,MM,MM,MM,1006.9,18.4,MM,MM,MM,MM,MM,AAMC1
4,2023,11,15,22,42,290,2.1,3.1,MM,MM,MM,MM,1006.9,18.4,MM,MM,MM,MM,MM,AAMC1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111094,2023,10,01,00,24,10,3.1,3.6,MM,MM,MM,MM,1020.5,MM,21.7,MM,MM,MM,MM,YKTV2
2111095,2023,10,01,00,18,350,2.6,3.6,MM,MM,MM,MM,1020.5,19.4,21.8,MM,MM,MM,MM,YKTV2
2111096,2023,10,01,00,12,350,3.1,3.6,MM,MM,MM,MM,1020.5,19.4,21.8,MM,MM,MM,MM,YKTV2
2111097,2023,10,01,00,06,360,2.6,3.6,MM,MM,MM,MM,1020.4,19.6,21.8,MM,MM,MM,MM,YKTV2
2111098,2023,10,01,00,00,350,3.1,3.6,MM,MM,MM,MM,1020.4,19.6,21.8,MM,MM,+1.2,MM,YKTV2

In [36]:
ocmd_data = pd.read_csv(ocmd_url, delim_whitespace = True)

In [42]:
ocmd_data.drop(ocmd_data.index[0], inplace = True)
ocmd_data

,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,PTDY,TIDE
6,2023,11,15,22,00,200,4.1,5.1,MM,MM,MM,MM,1027.2,12.6,13.6,MM,MM,-0.7,MM
7,2023,11,15,21,54,210,4.6,5.1,MM,MM,MM,MM,1027.3,12.7,13.6,MM,MM,MM,MM
8,2023,11,15,21,48,200,3.6,5.1,MM,MM,MM,MM,1027.2,12.7,13.6,MM,MM,MM,MM
9,2023,11,15,21,42,190,3.1,4.6,MM,MM,MM,MM,1027.1,12.6,13.6,MM,MM,MM,MM
10,2023,11,15,21,36,200,3.6,4.6,MM,MM,MM,MM,1027.2,12.6,13.6,MM,MM,MM,MM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10901,2023,10,01,00,24,350,3.6,4.1,MM,MM,MM,MM,1020.4,MM,20.0,MM,MM,MM,MM
10902,2023,10,01,00,18,350,3.6,4.6,MM,MM,MM,MM,1020.4,17.6,20.0,MM,MM,MM,MM
10903,2023,10,01,00,12,340,4.1,5.1,MM,MM,MM,MM,1020.4,17.6,20.0,MM,MM,MM,MM
10904,2023,10,01,00,06,340,3.6,5.1,MM,MM,MM,MM,1020.3,17.4,20.0,MM,MM,MM,MM
10905,2023,10,01,00,00,340,3.1,4.1,MM,MM,MM,MM,1020.2,17.5,20.0,MM,MM,+0.9,MM

## NOAA API

In [9]:
root = 'https://www.ncei.noaa.gov/cdo-web/api/v2'
endpoint = f'/locations'

In [30]:
parameters = {'format': 'json',
            'offset': 85,
            'limit': 50}

In [31]:
headers = {'User-Agent': useragent,
           'From': 'zrc3hc@virginia.edu',
          'token': noaa_api}

In [32]:
r = requests.get(root + endpoint,
                params = parameters,
                headers = headers)

In [33]:
r

In [14]:
id = 'GHCND:USW00093786'

In [15]:
json.loads(r.text)

{'metadata': {'resultset': {'offset': 85, 'count': 38862, 'limit': 50}},
 'results': [{'mindate': '1945-02-28',
   'maxdate': '2023-11-09',
   'name': 'Dhaka, BG',
   'datacoverage': 1,
   'id': 'CITY:BG000003'},
  {'mindate': '1901-01-01',
   'maxdate': '2023-11-09',
   'name': 'Rajshahi, BG',
   'datacoverage': 0.9988,
   'id': 'CITY:BG000005'},
  {'mindate': '1960-11-01',
   'maxdate': '2023-11-09',
   'name': 'Belize, BH',
   'datacoverage': 0.7263,
   'id': 'CITY:BH000001'},
  {'mindate': '1897-10-01',
   'maxdate': '2023-11-09',
   'name': 'Sarajevo, BK',
   'datacoverage': 1,
   'id': 'CITY:BK000001'},
  {'mindate': '1973-01-01',
   'maxdate': '2023-11-09',
   'name': 'Cochabamba, BL',
   'datacoverage': 0.9863,
   'id': 'CITY:BL000001'},
  {'mindate': '1942-06-01',
   'maxdate': '2023-11-09',
   'name': 'La Paz, BL',
   'datacoverage': 1,
   'id': 'CITY:BL000002'},
  {'mindate': '1958-05-01',
   'maxdate': '2023-11-09',
   'name': 'Oruro, BL',
   'datacoverage': 1,
   'id': 'CITY:BL000003'},
  {'mindate': '1973-08-18',
   'maxdate': '2023-11-09',
   'name': 'Potosi, BL',
   'datacoverage': 0.9819,
   'id': 'CITY:BL000004'},
  {'mindate': '1958-05-01',
   'maxdate': '2023-11-09',
   'name': 'Santa Cruz de La Sierra, BL',
   'datacoverage': 1,
   'id': 'CITY:BL000005'},
  {'mindate': '1973-06-01',
   'maxdate': '2016-05-13',
   'name': 'Sucre, BL',
   'datacoverage': 0.8766,
   'id': 'CITY:BL000006'},
  {'mindate': '1973-06-01',
   'maxdate': '2023-11-09',
   'name': 'Tarija, BL',
   'datacoverage': 1,
   'id': 'CITY:BL000007'},
  {'mindate': '1973-01-01',
   'maxdate': '2023-11-09',
   'name': 'Trinidad, BL',
   'datacoverage': 0.9789,
   'id': 'CITY:BL000008'},
  {'mindate': '1950-02-01',
   'maxdate': '2023-11-09',
   'name': 'Mandalay, BM',
   'datacoverage': 0.7318,
   'id': 'CITY:BM000003'},
  {'mindate': '1944-07-13',
   'maxdate': '2023-11-09',
   'name': 'Myitkyina, BM',
   'datacoverage': 1,
   'id': 'CITY:BM000005'},
  {'mindate': '1954-05-01',
   'maxdate': '2023-11-09',
   'name': 'Rangoon, BM',
   'datacoverage': 0.5261,
   'id': 'CITY:BM000007'},
  {'mindate': '1950-02-01',
   'maxdate': '2023-11-09',
   'name': 'Sagaing, BM',
   'datacoverage': 0.7318,
   'id': 'CITY:BM000008'},
  {'mindate': '1945-03-02',
   'maxdate': '2023-11-09',
   'name': 'Sittwe, BM',
   'datacoverage': 1,
   'id': 'CITY:BM000009'},
  {'mindate': '1973-01-01',
   'maxdate': '2023-11-09',
   'name': 'Abomey, BN',
   'datacoverage': 1,
   'id': 'CITY:BN000001'},
  {'mindate': '1941-01-01',
   'maxdate': '2023-11-09',
   'name': 'Cotonou, BN',
   'datacoverage': 0.9823,
   'id': 'CITY:BN000002'},
  {'mindate': '1954-09-01',
   'maxdate': '2023-11-09',
   'name': 'Lokossa, BN',
   'datacoverage': 0.9437,
   'id': 'CITY:BN000003'},
  {'mindate': '1945-01-01',
   'maxdate': '2023-11-09',
   'name': 'Natitingou, BN',
   'datacoverage': 0.9825,
   'id': 'CITY:BN000004'},
  {'mindate': '1973-01-01',
   'maxdate': '2023-11-09',
   'name': 'Parakou, BN',
   'datacoverage': 1,
   'id': 'CITY:BN000005'},
  {'mindate': '1944-09-01',
   'maxdate': '2023-11-09',
   'name': 'Brest, BO',
   'datacoverage': 1,
   'id': 'CITY:BO000001'},
  {'mindate': '1955-01-01',
   'maxdate': '2023-11-09',
   'name': "Homyel', BO",
   'datacoverage': 0.9932,
   'id': 'CITY:BO000002'},
  {'mindate': '1945-04-01',
   'maxdate': '2014-08-01',
   'name': 'Hrodna, BO',
   'datacoverage': 0.994,
   'id': 'CITY:BO000003'},
  {'mindate': '1945-01-01',
   'maxdate': '2014-08-01',
   'name': 'Mahilyow, BO',
   'datacoverage': 0.9952,
   'id': 'CITY:BO000004'},
  {'mindate': '1891-04-01',
   'maxdate': '2023-11-09',
   'name': 'Minsk, BO',
   'datacoverage': 1,
   'id': 'CITY:BO000005'},
  {'mindate': '1936-01-01',
   'maxdate': '2023-11-09',
   'name': 'Vitsyebsk, BO',
   'datacoverage': 0.9574,
   'id': 'CITY:BO000006'},
  {'mindate': '1943-03-16',
   'maxdate': '2023-11-09',
   'name': 'Honiara, BP',
   'datacoverage': 1,
   'id': 'CITY:BP000001'},
  {'mindate': '1912-02-01',
   'maxdate': '2002-06-09',
   'name': 'Aracaju, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000001'},
  {'mindate': '1942-10-01',
   'maxdate': '2023-11-09',
   'name': 'Belem, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000002'},
  {'mindate': '1939-01-01',
   'maxdate': '2023-11-09',
   'name': 'Belo Horizonte, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000003'},
  {'mindate': '1974-06-01',
   'maxdate': '1997-06-18',
   'name': 'Boa Vista, BR',
   'datacoverage': 0.1552,
   'id': 'CITY:BR000004'},
  {'mindate': '1973-08-01',
   'maxdate': '2000-03-08',
   'name': 'Brasilia, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000005'},
  {'mindate': '1963-01-01',
   'maxdate': '2000-01-31',
   'name': 'Campo Grande, BR',
   'datacoverage': 0.9991,
   'id': 'CITY:BR000006'},
  {'mindate': '1968-07-01',
   'maxdate': '2000-07-31',
   'name': 'Cuiaba, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000007'},
  {'mindate': '1939-07-01',
   'maxdate': '2023-11-09',
   'name': 'Curitiba, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000008'},
  {'mindate': '1945-10-01',
   'maxdate': '1999-04-30',
   'name': 'Florianopolis, BR',
   'datacoverage': 0.9994,
   'id': 'CITY:BR000009'},
  {'mindate': '1910-10-01',
   'maxdate': '2000-12-31',
   'name': 'Fortaleza, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000010'},
  {'mindate': '1947-11-01',
   'maxdate': '1999-04-30',
   'name': 'Goiania, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000011'},
  {'mindate': '1910-10-01',
   'maxdate': '2023-11-09',
   'name': 'Joao Pessoa, BR',
   'datacoverage': 0.9995,
   'id': 'CITY:BR000012'},
  {'mindate': '1973-01-01',
   'maxdate': '2023-11-09',
   'name': 'Macapa, BR',
   'datacoverage': 0.875,
   'id': 'CITY:BR000013'},
  {'mindate': '1912-10-01',
   'maxdate': '2023-11-09',
   'name': 'Maceio, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000014'},
  {'mindate': '1973-02-01',
   'maxdate': '1994-09-03',
   'name': 'Manaus, BR',
   'datacoverage': 0.1924,
   'id': 'CITY:BR000015'},
  {'mindate': '1910-10-01',
   'maxdate': '1999-06-30',
   'name': 'Natal, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000016'},
  {'mindate': '1955-01-01',
   'maxdate': '1999-12-31',
   'name': 'Niteroi, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000017'},
  {'mindate': '1976-06-01',
   'maxdate': '1994-12-31',
   'name': 'Palmas, BR',
   'datacoverage': 0.9282,
   'id': 'CITY:BR000018'},
  {'mindate': '1941-01-01',
   'maxdate': '2023-11-09',
   'name': 'Porto Alegre, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000019'},
  {'mindate': '1973-01-01',
   'maxdate': '1997-03-28',
   'name': 'Porto Velho, BR',
   'datacoverage': 0.464,
   'id': 'CITY:BR000020'},
  {'mindate': '1920-05-01',
   'maxdate': '1999-12-31',
   'name': 'Recife, BR',
   'datacoverage': 1,
   'id': 'CITY:BR000021'}]}